<% if message.user_id == current_user %>
      <div class="bubble">
        <p><%= message.text %></p>
      </div>
      <span class="datestamp"><%= message.user_id %></span>
<% else %>
      <div class="bubble bubble-alt">
        <p><%= message.text %></p>
      </div>
      <span class="datestamp  dt-alt"><%= message.user_id %></span>
<% end %> 