<center><h1>Welcome to chat</h1></center>
<% if @users.any?%>
<center><h2>There are <%= @users.count %> registered users</h2></center>
<% end %>

<center><h3><%= link_to 'Log In', login_path %></h3></center>
<center><h3><%= link_to 'Create an account', new_user_path %></h3></center>