<aside class="skills aside section">
<div class="section-inner">
    <h2 class="heading">Visited Countries 
    <% if (logged_in? && current_user == @user) %>
    <button onclick="javascript:showVisitedCountryEdit();">
    <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <% end %>
    </h2>
    <div class="content">
        <!-- list of countries-->  
        <ul class="list-unstyled">
            <li class="item">
                <div>
                    <% if @visited_countries.any? %>
                        <%= render @visited_countries.order('country ASC') %>
                    <% else %>
                    Not set yet
                    <% end %>
                </div>
                <div id="visited_countries_edit" style="display: none;">
                    
                    <span class="title"><strong>Add a country</strong></span><br/>

                    <%= form_for VisitedCountry.new, url: visited_countries_add_country_path, method: :post, :remote => true do |f| %>
                        <%= f.country_select :country %>
                        <%= f.submit %>
                    <% end %>
                    
                </div>
            </li><!--//item-->
            
        </ul>           
    </div><!--//content-->  
</div><!--//section-inner-->                 
</aside><!--//section-->
